h1{
	color: #260D1F;
	border: solid 4pt;
	padding:1pt;
	font-size:200%;
	font-family:fantasy
}
body{
	background-color:#DECDEE;
}
td{	
	background-color:#491B18;
	border:solid 1pt #FFFFFF;
}
th{
	background-color:#491B18;
	border:solid 1pt #FFFFFF;
	font-size:200%;
}
table{
	background-color:#2E100F;
	margin:20pt;
	color:#260D1F;
	
}
p{
	font-family:Verdana;
	font-size:200%;
	font-style:italic;
	color:#2E100F;
}
footer{
	background-color:yellow;
	margin:200pt;
	padding:50pt;
	border:solid 3pt #FF0000;
}	
p .texte{
	color: #CB6662;
}
.menuItem{
	font-family: cursive, sans-serif;
	text-decoration: underline;
	color:#CB6662;
	
}
.menuItem:hover{
	background-color:#CB6662;
	color:white;
}
#menu{
	color:#2E100F;
	font-family:cursive;
	margin-left:0em;
	margin-right:auto;
	width:15em;
	height:10ex;
	font-size:125%;
}
#info1,#info2{
	font-size:150%;
}
img{
	margin:2pt;
	padding:1pt;
}
#para1{
	font-size:100%;
}